.category-hotel {
     font-family: sans-serif;
}
.category-hotel .blog__entry {
	position: absolute;
	bottom: 0 ;
	color: #fff ;
	width: 100%;
	text-align: center ;
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(47, 39, 39, 0)), to(rgb(0, 0, 0))) ;
	background: -webkit-linear-gradient(top, rgba(47, 39, 39, 0), rgb(0, 0, 0)) ;
}
.category-hotel img {
	overflow: hidden ;
	transition: 1s;
}
.category-hotel img:hover {
	transform: scale(1.05);
    transition: 1s;
}
    
.category-hotel .blog__entry__title a {
	color:#fff;
}
.category-hotel  .price-hotel span{
	color: #ffe400 ;
}
.category-hotel .hotel-start {
	position: absolute;
    top: 5px;
    left: 15px;
    color:#fff ;
    position: absolute;
    top: 5px;
    left: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.57);
    padding: 3px 10px;
    border-radius: 5px;
}