@font-face {
  font-family: "lato-black";
  src: url("/assets/fonts/Lato/lato-black.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-blackitalic";
  src: url("/assets/fonts/Lato/lato-blackitalic.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-bold.ttf";
  src: url("/assets/fonts/Lato/lato-bold"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-bolditalic";
  src: url("/assets/fonts/Lato/lato-black.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-hairline";
  src: url("/assets/fonts/Lato/lato-hairline.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-hairlineitalic";
  src: url("/assets/fonts/Lato/lato-hairlineitalic.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-heavy";
  src: url("/assets/fonts/Lato/lato-heavy.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-heavyitalic";
  src: url("/assets/fonts/Lato/lato-heavyitalic.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-italic";
  src: url("/assets/fonts/Lato/lato-italic.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-light";
  src: url("/assets/fonts/Lato/lato-light.ttf"); /* IE9 Compat Modes */
}
@font-face { 
  font-family: "lato-lightitalic";
  src: url("/assets/fonts/Lato/lato-lightitalic.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-medium";
  src: url("/assets/fonts/Lato/lato-medium.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-mediumitalic";
  src: url("/assets/fonts/Lato/lato-mediumitalic.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-regular";
  src: url("/assets/fonts/Lato/lato-regular.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-semibold";
  src: url("/assets/fonts/Lato/lato-semibold.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-semibolditalic";
  src: url("/assets/fonts/Lato/lato-semibolditalic.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-thin";
  src: url("/assets/fonts/Lato/lato-thin.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "lato-thinitalic";
  src: url("/assets/fonts/Lato/lato-thinitalicc.ttf"); /* IE9 Compat Modes */
}


body{
     font-family: lato-regular;
}
a{
    color: #444
}
.padding-0 {
    padding:0;
}
.slides{
    padding-left:0;
}
a:hover, a:focus , button:hover , button:focus , input:focus , input:focus {
    text-decoration: none; 
    outline: none;
}
.title-site img{
    max-width: 100%;
    height: auto;
    display: block
}
header {
    position: relative;
    color:#fff;
    font-family: 'lato-medium' ;
}
header .hotline {
    position: relative;
    display: flex;
    padding-top: 12px;
}
header .hotline div {
    position: absolute;
    top: 15px;
    left: 64px;  
}
header .hotline div span {
    font-size: 13px;
}
header .hotline div span strong {
    font-size: 16px;
}
#main-header{ 
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    z-index: 9999;
    height: 80px;
}
#main-menu li {
    flex-grow: 1;
    position: relative;
}
#main-menu>li>.sub-menu {
    padding-left: 0 ;
    display: none;
    position: absolute;
    width: 120%;
    background: rgba(0, 0, 0, 0.8)  ;
    z-index: 999;
}
#main-menu li:hover>.sub-menu {
        display: block;
    list-style: none;
    text-align: left;
    padding: 15px;
        line-height: 30px;
}
#main-menu>li>.sub-menu li a {
    color:#fff;
    text-transform: uppercase;
    font-size:15px ;
}
#main-menu>li>.sub-menu li a:hover {
    color:red ;
}
#main-header .icon-menu-mobile{
    position: absolute;
    bottom: 32px;
    right: 30px;
    font-size: 30px;
    color: #24c2db;
}
#mainmenu.mm-menu{
    background: #262c40;
}
.mm-navbar__title{
    color: #fff !important ;
    text-transform: uppercase
}
.menu.mm-listview li a{
    color: #fff;
    padding-right: 25px;
    padding: 15px 25px 15px 10px; 
    border-bottom: 1px solid #ffffff36;
}
#main-menu{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    padding-left: 0;
}
#main-menu>li{
    display: inline-block;
    flex-grow: 1;
        padding: 27px 0px;
    text-align : center ;
}
#main-menu>li>a{
    align-items: center;
    height: 100%;
    padding: 3px 5px;
    text-align: center;
    align-content: center;
    align-self: center;
    text-transform: uppercase;
    color: #fffeff ;
    font-size: 16px;
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#main-menu>li>a:hover{
    color:#f84747;
}
.slider-home-page{
    overflow: hidden;
    position: relative;
}
#form-search {
    position: absolute;
    top: 17%;
    left: 10%;
    z-index: 0;
    font-family:  lato-regular ; 
}
#form-search {
     background: rgba(0,0,0,.8);
}
.form-search-frame {
   
    color: #fff;
    height: 395px;
    width: 455px;
    padding: 15px 10px 10px 10px;
}
.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
    list-style: none ; 
    margin-bottom: 0;
}
.tabs-menu li.current {
    position: relative;
    z-index: 5;
    font-size: 17px;
    font-weight: bold;
}
.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tabs-menu .current a {
    color: #ff1212;
}
.nav-tabs {border-bottom:none;}
.tabs-menu li a {
    padding: 9px;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
}
.content-trabooking {
    padding: 0 15px;
}
.tabs-menu .active a {
    color : red ;
    font-weight: bold;
}
.tab .active {display:block !important;}
#form-search .tab {
    float: left;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
}
#form-search .tab-content {
    border-top: 1px dashed rgba(255,255,255,.2);
    padding: 20px 10px 10px 10px;
    display: none;
    width: 100%;
}
#form-search .tab-content label {
    font-size: 15px;
}
#form-search .tab-content .form-control {
    height: 38px!important;
    font-size: 15px!important;
}
#form-search .tab-content .i-calendar {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #333;
}
#tabs-container {
    margin-top:0;
}
#form-search .btn-default {
    background: #c50000!important;
    color: #fff!important;
    border-color: #c50000!important;
    width: 100%;
}
.mg-bot15 {
    margin-bottom:15px;
}
.img-responsive {
    max-width:100% ;
}
#single-tour {
    padding:20px 0 ;
}
#single-tour .title-tour{
    color: #0bb62b;
}
#single-tour .info-tour {
     border-top: 1px solid #ddd;
     padding-top:20px;
}
#single-tour .info-tour .price-tour-sale span{
    font-size: 30px;
    color: #e30050;
    font-weight: bold;
}
#single-tour .fade:not(.show) {
    opacity: 1;
}

#single-tour .nav-tabs {
    margin: 20px 0 0px 0;
}
#single-tour .nav-tabs li {
    padding: 10px 15px ;
    background: #e1e1e1 ;
    margin-right:10px ;
}
#single-tour .nav-tabs li {
    padding: 10px 15px ;
    background: #d5d5d5 ;

}
img {
    max-width:100% !important ;
}
#single-tour .nav-tabs li a {
       color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-family: sans-serif;
}
#single-tour .nav-tabs .active {
    background: #0bb62b ;
}
#single-tour .nav-tabs .active a {
     color:#fff ;
}
#single-tour .tab-content{
    border:1px solid #d5d5d5 ;
}
#single-tour .tab-content .tab-pane{
    text-align: justify; 
    padding: 15px;
}
.box-tour {
    position: relative;
    transition: 1s !important;
}
.box-tour .info{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
     padding: 10px 15px;
}

.box-tour .info .price-tour {
    color:#4b84d1 ;
}
.box-tour .info h5 {
    margin-bottom:5px;
}
.box-tour .info h5 a{
    color:#fefffb;
    font-size: 16px;
    font-family: lato-regular;
}
.box-tour .info .price-tour {
    background: url('/images/building.png') no-repeat ;
    padding-left: 30px;
    background-position: left;
    font-weight: bold;
}
.box-tour .info .info-more .info-time {
    background: url('/images/alarm-clock.png') no-repeat ;  padding-left:30px ;
} 
.box-tour .info .info-more .info-begin {
    background: url('/images/place-localizer.png') no-repeat ;  padding-left:30px ;
}
.box-tour .info .info-more .info-bus {
    background: url('/images/bus.png') no-repeat ;  padding-left:30px ;
}
.box-tour .info .info-more .info-hotel {
    background: url('/images/building.png') no-repeat ;  padding-left:30px ;
}
.box-tour .info .info-more {
    display : none ;
}
.box-tour .info .info-more p {
     margin-bottom: 5px ;
} 
.box-tour:hover .info-more {
    display : block ;
    transition: 1s !important;
}
.box-tour:hover .info {
    top: 0;
    transition: 1s;
}
.box-tour .btn {
    padding: 5px 20px ;
}
.btn a{
	color:#fff; 
}
.box-tour .btn-danger {
    background : #e30b0c ; float:left;position: absolute;  bottom: 10px;left:15px;
}
.box-tour .btn-info {
    background: #58a1ff ; float:right;position: absolute;  bottom: 10px; right:15px;
}
.box-tour:hover img , .banner-tour:hover img , .banner-img:hover img {
   transform: scale(1.09); 
   transition: 1s;
}
.box-tour img , .banner-tour img {
    transition: 1.5s;
}
.box-tour , .banner-tour , .banner-img {
    overflow: hidden;
}
.overflow-hide {
    overflow: hidden ;
}
.metaslider{
    margin: auto;
}
/***custom slick***/
button:focus , button:active {
    outline :none;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 48%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.cate-tour .slick-prev  , .feel .slick-prev {
    z-index: 1;
    width: 41px;
    height: 73px;
    left: 0;
    background: url(/images/prev.png ) no-repeat;
}
.feel .slick-prev {
    left:-45px;
}
.cate-tour .slick-next  ,  .feel .slick-next {
    z-index: 1;
    width: 41px;
    height: 73px;
    right:0 ;
    background: url('/images/next.png ') no-repeat;
}
.feel .slick-next{
    right:-45px ;
}
.slick-slide img {
    margin: 0 auto;
    width:100%;
    max-width: 100%;
}
.categries-tour .slick-initialized .slick-slide {
    padding: 0 15px;
}

/***custom slick***/
.box-tour {     margin-bottom: 20px; font-family: lato-regular;  color:#fefffb;}

.title-h2 {
    text-transform: uppercase;;
    color:#5aa0ff;
    font-family: lato-medium ; 
    font-size: 24px;
    border-bottom: 2px solid;
    margin: 20px 0;
    padding-bottom:5px;
} 
.categries-tour .view-all {
    position: absolute;
    right: 14px;
    top: 30px;
}
.categries-tour .view-all a {color:red;}
.categries-tour .title-h2 {
    background :url('/images/icon-air.png') no-repeat ;
    padding-left: 45px;
    padding-bottom: 15px;
}
.why {
    background: url('/images/bg-why.png') no-repeat ;
    position: relative;
    color:#fff;
    padding:20px 0;
}
.why h3{
    text-transform: uppercase;
    font-family: :lato-semibold;
    font-size:23px;
}
.why p {
    font-family: :lato-medium;
    font-size:17px;
}
.over-lay{
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    float: left;
    display: block;
    bottom:0;
}
.why img{
    width: 100%;
    border-radius: 5px;
    height: max-content;
}
.why .box-why .w-pay{
    background: url('/images/money2.png') no-repeat; padding-left:40px; background-size: contain;
}
.why .box-why .w-emp{
    background: url('/images/call-center.png') no-repeat; padding-left:40px;    background-size: contain;
}
.why .box-why .w-pri{
    background: url('/images/money.png') no-repeat; padding-left:40px;    background-size: contain;
}
.why .box-why .w-easy{
    background: url('/images/bullseye.png') no-repeat; padding-left:40px;    background-size: contain;
}
.why .box-why .w-sup{
    background: url('/images/alarm-clock1.png') no-repeat; padding-left:40px;    background-size: contain;
}
/**********box news***********/
.box-news{
    margin-bottom: 20px;
    font-family: lato-regular;
    color: #fefffb;
    overflow: hidden;
    transition: 1s !important;
        position: relative;
}
.box-news .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 10px 15px;
}
.box-news .info p {
    margin-bottom: 0;
    font-size: 13px;
    text-align: justify;
}
.box-news .info h5 a{
    color: #58a1fd;
    font-size: 15px;
}
.box-news .info h5 a:hover{
    color:#fff;
}
.box-news img:hover {
    transform: scale(1.06);
    transition: 1.5s;
}
.box-news img {
    transition: 1.5s;
}
/********slider news home**********/ 
.slide-news-home .slick-slide img {
    width: 30%;
    float: left;

}
.slide-news-home .content-slide-new {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}
.slide-news-home .content-slide-new .des{
    margin-left: 33%;
}
.slide-news-home .content-slide-new .des p{
    margin-bottom: 5px;
    font-size: 13px;
}
    
.slide-news-home .content-slide-new .des h6 a{
    color:#58a1fd;
    font-family: lato-regular;
    font-size: 14px;
    font-weight: :bold;
}

/****************cảm nhận*****************/
.row-fell {
    border: 3px solid #39bee1;
    padding: 15px 20px;
    border-radius: 24px;
    position: relative;
}
.row-fell img {
    width: 137px;
    float: left; 
}
.row-fell .col3slick {
    width:30%;
    float:left;
}
.row-fell .col9slick {
    float: none;
    margin-left: 32%;
    text-align: justify;
}
.row-fell .quote_1 {
    background: url(/images/quote_1.png) no-repeat;
  
}
.row-fell .quote_1 b{
    background: url(/images/quote_1.png) no-repeat;
}

.row-fell .col9slick span {
    color: #0064a4;
    font-weight: bold;
}
.abs-top {
   position: absolute; display: block; top: -4px;  left: -3px; background: #fff;
}
.abs-top img , .abs-bottom img {
    width:40px;
}
.abs-bottom {
       bottom: -4px; right: -6px;;position: absolute;background:#fff;
}

    
#footer{
    background: url('/images/bg-footer.jpg') no-repeat ;
    padding: 15px 0 0;
     position: relative;
     color:#fff;
}
#footer p {
    font-size:14px;
}
#footer h3{
    text-transform: uppercase;font-size:16px;
}
#footer h2{
    text-align: center;
    color: #FFF;
    font-family: lato-heavy;
    font-size: 26px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #0000009e;
}
#footer .f-pay  {
    list-style: none;
    display: inline-flex;
        padding-left: 0;
}
 #footer .mn-footer {
     list-style: none;padding-left: 0;
 }
  #footer .mn-footer li a {
        font-family: lato-regular;
    color: #fff;
    font-size: 14px;
    line-height: 31px;
  }
#footer .f-pay li  {
    padding:0 5px;
}
#footer .f-pay li img {
    width:55px;height:55px;
}

#footer .f-h3 {
    font-size: 15px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
#footer .f-line{
    height:2px;
    background: #5aa0ff; 
    margin-bottom: 20px;
}
#footer .f-col5 .social{
    padding-left: 0;
    display: flex;
    list-style: none;
}
#footer .f-col5 .social li {
    padding-right:10px;
}
#footer .f-col5 .social li a img:hover {
    background:#fb5151;
    border-radius: 50% ;
}
#footer form {
    position: relative;
}
#footer button {
    position: absolute;
    top:0 ;
    right: 0;
    width:67px;
    border: none;
    height: 100%;
    color: #fff;
    cursor: pointer;
}
#footer .btn1{
    background:#e30b0c ;
}
#footer .btn2{
     background:#58a1ff ;
} 
#footer .f-col5 p {
    margin-bottom: 5px ;
    margin-top: 10px;
}
#footer .copyright {
    background:#000;
}
#footer .copyright p {
    margin-bottom: 0;
    padding:5px 0;
}
@media  (max-width: 1000px){
    .hotline , .banner-top , .banner-tour {
        display:none !important ;
    }
    #main-header {
        background: #000;
        position: relative;
        z-index: auto;
        height: 58px;
    }
    .title-site img {
        width: 73px;
        margin-left: 15px;
        margin-top: 3px;
    }
    #main-header .icon-menu-mobile{
        bottom: 9px;    color: #f23636;     right: 15px;
    }
    #form-search {
        position: relative;
        top: inherit;
        left: inherit;
        display: block;
        float: left;
        background: rgba(0, 0, 0, 0.8);
    } 
    .box-tour img  , .box-news img{
        width: 100% ;
    }
     .flexslider{
        margin-bottom:  :0   !important;
    }
    .form-search-frame{
        width: inherit;
    }
    .tabs-menu {
        padding-left:0;
    }
    #mainmenu .menu.mm-listview {
        margin-top:0 !important;
    }
    .title-h2{
        font-size:20px;
    }
    .categries-tour .view-all {
        position: relative;
        right: 0;  
          top: 0;  
    }
    .overflow-hide{
        padding-top:20px;
    }
    .why img {
            height: inherit;
    }
    .why h3{
        text-align:center;  font-size: 20px;
    }
    .why p{
        font-size:15px;
    }
    .slide-news-home .content-slide-new .des {
        padding-top:10px;
    }
    .feel .slick-next {
        right:0;
    }
    .feel .slick-prev {
        left:0;
    }
    .feel {
        padding-bottom:20px;
    }
    #footer .title-site img {
        margin: 0 auto;
    }
    #footer h2 {
        font-size:18px;
    }
    #footer {
        background: url(/images/bg-footer.jpg) repeat;
    }
}
@media  (max-width: 1000px and min-width:768px){
    .box-tour:hover .info-more {
        display : none ;  transition: 1s !important;
    }
}
@media  (max-width: 767px){
    .box-tour:hover .info-more {
        display : block ;  transition: 1s !important;
    }
    .slick-slide .box-tour:hover .info-more{
        display:none !important ;
    }
}
@media  (max-width: 400px){
    .box-tour .info h5 a{
        font-size:14px;
    }
}
.bread-home , #breadcrumbs li a:first-child {padding-left:0;}
#socialButtonOnPage{
    float:none ;
}
.template-page {
    text-align:center;
}

.template-page .content-page{
    text-align: justify; 
}
.template-home #main{
    padding-top:24px;
}
.kk-star-ratings.lft {
    float : none ;
}
.description {
        text-align: justify;
    font-family: sans-serif;
        padding-bottom: 20px;
}

.post-cat{
    margin-bottom: 15px;
    position: relative;
}
.post-cat figure{
    height: 380px;
    overflow: hidden;
    position: relative;
}
figure .blog__post-date{
    position: absolute;
    bottom: 0px;
    left: 20px;
    background: #0096a8;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    z-index: 999;
}
figure .blog__post-date .days{
    display: block;
    font-weight: 800;
    font-size: 30px;
    line-height: 27px;
}
figure .blog__post-date .month-year{
    font-size: 12px;
    line-height: 10px;
    display: block;
}
.post-cat figure img{
    width: 100%;
    height: auto;
    min-height: 100%
}
.blog__entry__title{
     font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}
.blog__post-meta{
    font-size: 12px;
    font-style: italic;
    color: #777;
}
.blog__post-meta i{
    margin-right: 5px;
    color: #2fb1bd;
}
.blog__post-meta .blog__post-date{
    display: inline-block;
    margin-right: 15px;
}
.blog__post-meta .blog__post-author{
    display: inline-block;
    margin-right: 15px;
}
.blog__post-meta .blog__post-category{
    display: inline-block;
}
.content-post .blog__post-meta{
    margin-bottom: 25px;
}
.content-post{
    text-align: justify
}
.content-post img, .content-post table{
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    display: block;
}
.content-post h1{
    font-size: 23px;
}
.content-post h2{
    font-size: 20px;
}
.content-post h3{
    font-size: 18px;
}
.content-post h4{
    font-size: 16px
}
.excerpt_content{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    margin-top: 15px;
    color: #444;
    font-family: sans-serif;
}
.wp-pagenavi{
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.wp-pagenavi a{
    background: #0096a8;
    margin: 2px;
    padding: 8px 15px;
    color: #fff;
    font-weight: 700;
    border: 1px solid transparent;
}
.wp-pagenavi span{
    background: transparent;
    margin: 2px;
    padding: 8px 15px;
    color: #0096a8;
    border: 1px solid;
    font-weight: 700;
}
.page-header{
    height: 310px;
    overflow: hidden;
    background-color: #000;
}
.page-header img{
    height: auto;
    margin-top: -20px;
    background-color: #000;
    opacity: 0.8;
}
.breadcrumbs-wrapper{
    background: #efefef;
}
#breadcrumbs{
    padding: 0;
    margin-bottom:0;

}
#metaslider_539 {
    margin-bottom:0px ;
}
#breadcrumbs li{
    display: inline-block;
}
#breadcrumbs li a{
    padding: 10px 15px;
    font-weight: 300;
    font-size: 15px;
    color: #666;
    display: block;
}
#breadcrumbs li strong{
    padding-left: 15px;
}
#blog{
    margin-top: 20px;
}
#blog .content-post h1.title{
    font-size: 25px;
}
.sidebar .widget{
    margin-bottom: 30px
}
.sidebar .widget_title{
    text-transform: uppercase;
    color:#000 ;
    font-size: 17px;
    margin-left:15px ;
}
.sidebar .widget ul{
    padding: 0;
    margin: 0;
}
.sidebar .widget ul li{
    list-style: none;
    padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 15px;
    font-weight: 300;
}
.sidebar .widget_text ul li::before,
.sidebar .widget_categories ul li::before{
    content: '\f058';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    color: #40e2f1;
    margin-right: 10px;
}
.sidebar .widget ul li a{

}
.post_next_prev_link{
    display: flex;
    flex-direction: row;
    background: #fbfbfb;
}
.post_next_prev_link a{
    flex-grow: 1;
    border: 1px solid #e6e6e6;
    padding: 11px 20px;
    color: #36c3d0;
}
#main h1 {
    font-size: 30px;
    margin-top: 10px;
}
.post_next_prev_link a.prevlink{
    text-align: left
}
.post_next_prev_link a.nextlink{
    text-align: right
}
.post_next_prev_link a span{
    display: block;
    font-weight: 600;
    color: #444;;
}
.blog__post-tag{
    margin: 20px;
}
.blog__post-tag a{
    font-size: 12px;
    font-weight: 300;
    background: #4ac4f3;
    color: #fff;
    padding: 3px 7px;
}
.contact-panel{
    background: -webkit-linear-gradient(10deg,#1e212d , #485475 );
    background: -moz-linear-gradient(10deg,#1e212d , #485475 );
    background: -o-linear-gradient(10deg,#1e212d , #485475 );
    background: linear-gradient(10deg,#1e212d , #485475 );
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #40e2f1;
}
.contact-panel p{
    float: left;
    display: block;
    width: 100%;
    margin: 0;
}
.contact-panel p i{
    border: 1px solid;
    padding: 6px;
    border-radius: 50%;
    font-size: 17px;
    vertical-align: text-top;
    margin-right: 12px;
}
.template-tag h1.title{
    margin: 20px 0;
    text-align: center
}
.read-more{
    float: right;
    background: #40e2f1;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}
.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
}
.template-page #main{
    padding-bottom: 40px;
}
/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
#mainmenu.mm-menu_offcanvas.mm-menu_opened{
    z-index: 9999;
}
#mainmenu .menu.mm-listview{
    width: 100%;
    float: left;
    margin: 45px 0 0;
    padding: 0;
    display: block;
}
.hotline_mobi {
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999999999999999999;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    position: fixed;
    bottom: 0;
    height: 60px;
    background: #028ea5;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
}
.hotline_mobi a{
    color: #fff;
}
.hotline_mobi .icon{
    flex-grow: 1;
    font-size: 30px;
}
@media (min-width:320px){
    .slider-home-page .about-us-panel{
        position: relative;
        left: initial;
        top: initial;
        margin-bottom: 5px;
    }
    .services .item .title{
        background: #0000008a;
        width: 100%;
    }
    .about-us .about {
        color: #fff;
        padding: 25px 20px;
    }
    #footer span.head{
        background-position-x: 74px;
        border: none;
    }
    #footer span.content{
        margin-bottom: 30px
    }
    .slider-home-page .metaslider .flex-control-nav {
        bottom: -20px;
    }
    .post-cat figure {
        height: 253px;
    }
    .page-header {
        height: auto;
    }
    .page-header img {
        width: 100%;
    }
    #main-menu{
        display: none;
    }
    .icon-menu-mobile,#main-menu.mm-panel_opened{
        display: block
    }
    .hotline_mobi_tong{
        display: block;
    }
}
@media (min-width:768px){
    .slider-home-page .about-us-panel{
       
        width: 100%;
        text-align: center;
    }
    .services .container {
        max-width: 753px;
    }
}
@media (min-width:1024px){
    .slider-home-page .about-us-panel {
        text-align: center;
        position: absolute;
        left: 0px;
        top: 0;
        width: 40%;
    }
    .services{
        margin-top: 10px;
    }
    .services .container {
        max-width: 1010px;
    }
    .hotline_mobi_tong{
        display: none;
    }
}
@media (min-width: 1280px){
    #main-menu{
        display: flex;
    }
    .icon-menu-mobile{
        display: none
    }
    #main-menu>li>a{
        font-size: 16px;
    }
    .services .container {
        max-width: 1265px;
    }
    .services .item .title {
        background: transparent;
        width: 37%;
    }
    .about-us .about {
        color: #fff;
        padding: 40px 55px 40px 0;
    }
    #footer span.head {
        background-position-x: 21px;
        border-bottom: 1px solid;
    }
    .slider-home-page .about-us-panel{
        text-align: left;
    left: 50px;
    width: 400px;
    }
    .post-cat figure {
        height: 230px;
    }
}
@media (min-width: 1366px){
    .container {
        max-width: 1350px;
    }
    .services .container{
        max-width: 1300px;
    }
    .services {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .about-us .about {
        color: #fff;
        padding: 65px 63px 75px 0;
    }
}
@media (min-width:1600px){
    .services {
        margin-top: 10px;
        margin-bottom: 80px;
    }
    .about-us .about {
        color: #fff;
        padding: 85px 55px 70px 0;
    }
}
@media (min-width:1920px){
    .slider-home-page .about-us-panel {
        text-align: left;
        left: 17%;
        width: 485px;
    }
    .about-us .about {
        color: #fff;
        padding: 104px 68px 113px 0;
    }
}
@media (max-width: 545px){
	#single-tour .nav-tabs li{
		width:100% ;
	}
}