/*
 * ---:[ Thesis CSS reset ]:---
 */
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img,
fieldset {
  border: 0; }

abbr,
acronym {
  text-decoration: none; }

code {
  line-height: 1em; }

pre {
  overflow: auto;
  clear: both;
  word-wrap: normal;
  -moz-tab-size: 4;
  tab-size: 4; }

sub,
sup {
  line-height: 0.5em; }

img,
.wp-caption {
  max-width: 100%;
  height: auto; }

iframe,
video,
embed,
object {
  display: block;
  max-width: 100%; }

img {
  display: block; }

.left,
.alignleft,
img[align="left"] {
  display: block;
  float: left; }

.right,
.alignright,
img[align="right"] {
  display: block;
  float: right; }

.center,
.aligncenter,
img[align="middle"] {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  float: none;
  clear: both; }

.block,
.alignnone {
  display: block;
  clear: both; }

input[type="submit"],
button {
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none; }

.wp-smiley {
  display: inline; }

/*
 * ---:[ golden ratio typography ]:---
 */
.grt {
  width: 564px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto;
  -webkit-font-smoothing: subpixel-antialiased !important; }
  .grt > :first-child {
    margin-top: 16px; }
  .grt a {
    color: #dd0000;
    text-decoration: underline; }
    .grt a:hover {
      text-decoration: none; }
  .grt h1,
  .grt .headline {
    font-size: 33px;
    line-height: 49px; }
  .grt h1 {
    margin-bottom: 26px; }
  .grt .headline {
    color: #111111;
    margin: 0; }
    .grt .headline a {
      color: #111111; }
      .grt .headline a:hover {
        color: #dd0000; }
    .grt .headline + .byline {
      margin-top: 6px; }
  .grt h2,
  .grt h3,
  .grt h4 {
    color: #111111; }
  .grt h2 {
    font-size: 26px;
    line-height: 39px;
    margin-top: 42px;
    margin-bottom: 16px; }
  .grt h3 {
    font-size: 20px;
    line-height: 32px;
    margin-top: 36px;
    margin-bottom: 10px; }
  .grt h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 6px; }
  .grt h1 + h2,
  .grt h2 + h3 {
    margin-top: 0; }
      .grt .post_content h2:first-child,
      .grt .post_content h3:first-child {
        margin-top: 0; }
  .grt ul {
    list-style-type: square; }
    .grt ul li a {
      text-decoration: underline; }
      .grt ul li a:hover {
        text-decoration: none; }
  .grt blockquote {
    color: #888888;
    padding-left: 16px;
    border-left: 1px solid #dddddd; }
    .grt blockquote.right,
    .grt blockquote.left {
      width: 45%;
      font-size: 26px;
      line-height: 37px;
      padding-left: 0;
      border: 0;
      margin-bottom: 16px; }
  .grt code,
  .grt pre,
  .grt kbd {
    font-size: 14px; }
  .grt code {
    font-family: Consolas, Menlo, Monaco, Courier, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 3px 4px;
    border-radius: 6px;
    margin: 0 1px; }
  .grt pre {
    font-family: Consolas, Menlo, Monaco, Courier, Verdana, sans-serif;
    background-color: #eeeeee;
    padding: 16px 16px 16px 10px;
    border-left: 6px solid rgba(0, 0, 0, 0.15); }
  .grt kbd {
    font-family: Consolas, Menlo, Monaco, Courier, Verdana, sans-serif;
    color: #111111;
    background-color: white;
    padding: 3px 4px;
    border-radius: 6px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.45);
    margin: 0 1px; }
  .grt .alert,
  .grt .note,
  .grt .box {
    padding: 16px; }
  .grt .alert {
    background-color: #ffff99;
    border: 1px solid #e6e68a; }
  .grt .note {
    background-color: #eeeeee;
    border: 1px solid #dddddd; }
  .grt .box {
    background-color: #ffe2e2;
    border: 1px solid #ffb2b2; }
  .grt .footnotes {
    font-size: 13px;
    line-height: 22px;
    padding-top: 26px;
    border-top: 1px dotted #dddddd; }
  .grt .footnotes,
  .grt sub,
  .grt sup,
  .grt .post_cats,
  .grt .post_tags {
    color: #888888; }
  .grt fieldset {
    margin-top: 26px;
    margin-bottom: 26px; }
    .grt fieldset legend {
      font-weight: bold;
      margin-bottom: 16px; }
  .grt .avatar {
    width: 71px;
    height: 71px;
    float: right;
    clear: both;
    margin-left: 16px; }
  .grt .small,
  .grt .caption {
    font-size: 13px;
    line-height: 22px; }
  .grt .caption {
    margin-top: -16px;
    color: #888888; }
  .grt .frame,
  .grt .post_image_box,
  .grt .wp-caption {
    box-sizing: border-box;
    background-color: #eeeeee;
    padding: 16px;
    border: 1px solid #dddddd; }
  .grt .wp-caption p {
    font-size: 13px;
    line-height: 22px; }
  .grt .wp-caption img,
  .grt .post_image_box .post_image,
  .grt .thumb,
  .grt .footnotes p {
    margin-bottom: 16px; }
  .grt .drop_cap {
    font-size: 52px;
    line-height: 1em;
    margin-right: 10px;
    float: left; }
  .grt .author_description {
    padding-top: 26px;
    border-top: 1px dotted #dddddd; }
    .grt .author_description .avatar {
      width: 78px;
      height: 78px;
      float: left;
      margin-right: 16px;
      margin-left: 0; }
  .grt .author_description_intro {
    font-weight: bold; }
  .grt p,
  .grt ul,
  .grt ol,
  .grt blockquote,
  .grt pre,
  .grt dl,
  .grt dd,
  .grt .center,
  .grt .aligncenter,
  .grt .block,
  .grt .alignnone,
  .grt .post_image,
  .grt .post_image_box,
  .grt .wp-post-image,
  .grt .caption,
  .grt .wp-caption,
  .grt .alert,
  .grt .note,
  .grt .box,
  .grt .footnotes,
  .grt .headline_area {
    margin-bottom: 26px; }
  .grt .right,
  .grt .alignright,
  .grt .ad {
    margin-bottom: 26px;
    margin-left: 26px; }
  .grt .left,
  .grt .alignleft,
  .grt .ad_left {
    margin-bottom: 26px;
    margin-right: 26px; }
  .grt ul,
  .grt ol,
  .grt .stack {
    margin-left: 26px; }
  .grt ul ul,
  .grt ul ol,
  .grt ol ul,
  .grt ol ol,
  .grt .wp-caption p,
  .grt blockquote.right p,
  .grt blockquote.left p {
    margin-bottom: 0; }
    .grt .alert :last-child,
    .grt .note :last-child,
    .grt .box :last-child,
    .grt .right :last-child,
    .grt .left .footnotes :last-child {
      margin-bottom: 0; }

  .wp-caption.aligncenter img {
    margin-right: auto;
    margin-left: auto; }
  .wp-caption .wp-caption-text .wp-smiley {
    display: inline;
    margin-bottom: 0; }