/*
 * ---:[ Thesis CSS reset ]:---
 */
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img,
fieldset {
  border: 0; }

abbr,
acronym {
  text-decoration: none; }

code {
  line-height: 1em; }

pre {
  overflow: auto;
  clear: both;
  word-wrap: normal;
  -moz-tab-size: 4;
  tab-size: 4; }

sub,
sup {
  line-height: 0.5em; }

img,
.wp-caption {
  max-width: 100%;
  height: auto; }

iframe,
video,
embed,
object {
  display: block;
  max-width: 100%; }

img {
  display: block; }

.left,
.alignleft,
img[align="left"] {
  display: block;
  float: left; }

.right,
.alignright,
img[align="right"] {
  display: block;
  float: right; }

.center,
.aligncenter,
img[align="middle"] {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  float: none;
  clear: both; }

.block,
.alignnone {
  display: block;
  clear: both; }

input[type="submit"],
button {
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none; }

.wp-smiley {
  display: inline; }

/*
 * ---:[ layout structure ]:---
 */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  background-color: white;
  padding-top: 26px; }

.container {
  width: 897px;
  margin: 0 auto; }

.columns {
  box-sizing: border-box; }
  .columns > .content {
    box-sizing: border-box;
    width: 617px;
    float: left;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #dddddd; }
  .columns > .sidebar {
    box-sizing: border-box;
    width: 280px;
    float: right;
    padding: 26px 26px 0 26px; }

/*
 * ---:[ links ]:---
 */
a {
  color: #dd0000;
  text-decoration: none; }
  p a {
    text-decoration: underline; }
    p a:hover {
      text-decoration: none; }

/*
 * ---:[ nav menu ]:---
 */
.menu {
  position: relative;
  z-index: 50;
  list-style: none;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #dddddd; }
  .menu a {
    display: block;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #111111;
    background-color: #eeeeee;
    padding: 8px 13px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #dddddd; }
  .menu a:hover {
    background-color: #dddddd; }
  .menu li {
    position: relative;
    float: left;
    margin-bottom: -1px; }
  .menu .sub-menu {
    display: none;
    position: absolute;
    z-index: 110;
    left: -1px;
    list-style: none;
    border-color: #dddddd;
    margin-top: -1px; }
    .menu .sub-menu .sub-menu {
      top: 0;
      left: 166px;
      margin: 0 0 0 -1px; }
    .menu .sub-menu li {
      width: 166px;
      clear: both; }
    .menu .sub-menu a {
      border-left-width: 1px; }
    .menu .sub-menu .current-menu-item > a {
      border-bottom-color: #dddddd; }
  .menu li:hover > .sub-menu {
    display: block; }
  .menu .current-menu-item > a {
    border-bottom-color: white;
    background-color: white;
    cursor: text; }

.menu_control {
  display: block;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #111111;
  background-color: #eeeeee;
  padding: 8px 13px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #dddddd;
  display: none;
  background-color: white; }
  .menu_control:hover {
    background-color: #dddddd; }

/*
 * ---:[ header ]:---
 */
.header {
  border-bottom: 3px double #dddddd;
  padding: 26px; }

#site_title {
  font-size: 42px;
  line-height: 1.31em;
  font-weight: bold;
  color: #111111; }
  #site_title a {
    color: #111111; }
    #site_title a:hover {
      color: #dd0000; }
  #site_title + #site_tagline {
    margin-top: 6px; }

#site_tagline {
  font-size: 16px;
  color: #888888;
  line-height: 1.5em; }

/*
 * ---:[ golden ratio typography with spaced paragraphs ]:---
 */
.grt {
  font-size: 16px;
  line-height: 26px; }
  .grt h1,
  .grt .headline {
    font-size: 33px;
    line-height: 49px; }
  .grt h1 {
    margin-bottom: 26px; }
  .grt .headline {
    color: #111111;
    margin: 0; }
    .grt .headline a {
      color: #111111; }
      .grt .headline a:hover {
        color: #dd0000; }
    .grt .headline + .byline {
      margin-top: 6px; }
  .grt h2,
  .grt h3,
  .grt h4 {
    color: #111111; }
  .grt h2 {
    font-size: 26px;
    line-height: 39px;
    margin-top: 42px;
    margin-bottom: 16px; }
  .grt h3 {
    font-size: 20px;
    line-height: 32px;
    margin-top: 36px;
    margin-bottom: 10px; }
  .grt h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 6px; }
  .grt h1 + h2,
  .grt h2 + h3 {
    margin-top: 0; }
      .grt .post_content h2:first-child,
      .grt .post_content h3:first-child {
        margin-top: 0; }
  .grt ul {
    list-style-type: square; }
    .grt ul li a {
      text-decoration: underline; }
      .grt ul li a:hover {
        text-decoration: none; }
  .grt blockquote {
    color: #888888;
    padding-left: 16px;
    border-left: 1px solid #dddddd; }
    .grt blockquote.right,
    .grt blockquote.left {
      width: 45%;
      font-size: 26px;
      line-height: 37px;
      padding-left: 0;
      border: 0;
      margin-bottom: 16px; }
  .grt code,
  .grt pre,
  .grt kbd {
    font-size: 14px; }
  .grt code {
    font-family: Consolas, Menlo, Monaco, Courier, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 3px 4px;
    border-radius: 6px;
    margin: 0 1px; }
  .grt pre {
    font-family: Consolas, Menlo, Monaco, Courier, Verdana, sans-serif;
    background-color: #eeeeee;
    padding: 16px 16px 16px 10px;
    border-left: 6px solid rgba(0, 0, 0, 0.15); }
  .grt kbd {
    font-family: Consolas, Menlo, Monaco, Courier, Verdana, sans-serif;
    color: #111111;
    background-color: white;
    padding: 3px 4px;
    border-radius: 6px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.45);
    margin: 0 1px; }
  .grt .alert,
  .grt .note,
  .grt .box {
    padding: 16px; }
  .grt .alert {
    background-color: #ffff99;
    border: 1px solid #e6e68a; }
  .grt .note {
    background-color: #eeeeee;
    border: 1px solid #dddddd; }
  .grt .box {
    background-color: #ffe2e2;
    border: 1px solid #ffb2b2; }
  .grt .footnotes {
    font-size: 13px;
    line-height: 22px;
    padding-top: 26px;
    border-top: 1px dotted #dddddd; }
  .grt .footnotes,
  .grt sub,
  .grt sup,
  .grt .post_cats,
  .grt .post_tags {
    color: #888888; }
  .grt fieldset {
    margin-bottom: 26px; }
    .grt fieldset legend {
      font-size: 20px;
      line-height: 32px;
      font-weight: bold;
      margin-bottom: 6px; }
  .grt .avatar {
    width: 71px;
    height: 71px;
    float: right;
    clear: both;
    margin-left: 16px; }
  .grt .small,
  .grt .caption {
    font-size: 13px;
    line-height: 22px; }
  .grt .caption {
    margin-top: -16px;
    color: #888888; }
  .grt .frame,
  .grt .post_image_box,
  .grt .wp-caption {
    box-sizing: border-box;
    background-color: #eeeeee;
    padding: 16px;
    border: 1px solid #dddddd; }
  .grt .wp-caption p {
    font-size: 13px;
    line-height: 22px; }
  .grt .wp-caption img,
  .grt .post_image_box .post_image,
  .grt .thumb,
  .grt .footnotes p {
    margin-bottom: 16px; }
  .grt .drop_cap {
    font-size: 52px;
    line-height: 1em;
    margin-right: 10px;
    float: left; }
  .grt .author_description {
    padding-top: 26px;
    border-top: 1px dotted #dddddd; }
    .grt .author_description .avatar {
      width: 78px;
      height: 78px;
      float: left;
      margin-right: 16px;
      margin-left: 0; }
  .grt .author_description_intro {
    font-weight: bold; }
  .grt p,
  .grt ul,
  .grt ol,
  .grt blockquote,
  .grt pre,
  .grt dl,
  .grt dd,
  .grt .center,
  .grt .aligncenter,
  .grt .block,
  .grt .alignnone,
  .grt .post_image,
  .grt .post_image_box,
  .grt .wp-post-image,
  .grt .caption,
  .grt .wp-caption,
  .grt .alert,
  .grt .note,
  .grt .box,
  .grt .footnotes,
  .grt .headline_area {
    margin-bottom: 26px; }
  .grt .right,
  .grt .alignright,
  .grt .ad {
    margin-bottom: 26px;
    margin-left: 26px; }
  .grt .left,
  .grt .alignleft,
  .grt .ad_left {
    margin-bottom: 26px;
    margin-right: 26px; }
  .grt ul,
  .grt ol,
  .grt .stack {
    margin-left: 26px; }
  .grt ul ul,
  .grt ul ol,
  .grt ol ul,
  .grt ol ol,
  .grt .wp-caption p,
  .grt blockquote.right p,
  .grt blockquote.left p {
    margin-bottom: 0; }
    .grt .alert :last-child,
    .grt .note :last-child,
    .grt .box :last-child,
    .grt .right :last-child,
    .grt .left .footnotes :last-child {
      margin-bottom: 0; }

/*
 * ---:[ other content styles ]:---
 */
.post_box {
  padding: 26px 26px 0 26px;
  border-top: 1px dotted #dddddd; }
  .post_box.top {
    border-top: 0; }

.byline {
  color: #888888; }
  .byline a {
    color: #888888;
    border-bottom: 1px solid #dddddd; }
    .byline a:hover {
      color: #111111; }
  .byline a,
  .byline .post_author,
  .byline .post_date {
    text-transform: uppercase;
    letter-spacing: 1px; }
  .byline .post_author_intro,
  .byline .post_date_intro,
  .byline .post_cats_intro {
    font-style: italic; }
  .byline .post_edit {
    margin-left: 10px; }
    .byline .post_edit:first-child {
      margin-left: 0; }

  .wp-caption.aligncenter img {
    margin-right: auto;
    margin-left: auto; }
  .wp-caption .wp-caption-text .wp-smiley {
    display: inline;
    margin-bottom: 0; }

.num_comments_link {
  display: inline-block;
  color: #888888;
  text-decoration: none;
  margin-bottom: 26px; }
  .num_comments_link:hover {
    background-color: #eeeeee; }

.num_comments {
  font-size: 26px;
  color: #111111; }

.bracket {
  font-size: 26px;
  color: #dddddd; }

.archive_intro {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #dddddd; }
  .archive_intro .headline {
    margin-bottom: 26px; }

.prev_next {
  clear: both;
  color: #888888;
  border-top: 1px solid #dddddd;
  padding: 16px 26px; }
  .prev_next .next_posts {
    float: right; }

.previous_posts,
.next_posts {
  display: block;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .previous_posts a:hover,
  .next_posts a:hover {
    text-decoration: underline; }

/*
 * ---:[ comments ]:---
 */
#comments {
  margin-top: 52px; }

.comments_intro {
  color: #888888;
  padding: 0 26px;
  margin-bottom: 16px; }
  .comments_intro a:hover {
    text-decoration: underline; }

.comments_closed {
  font-size: 13px;
  line-height: 22px;
  color: #888888;
  margin: 0 26px 26px 26px; }

.comment_list {
  list-style-type: none;
  border-top: 1px dotted #dddddd;
  margin-bottom: 52px; }

.comment {
  padding: 26px;
  border-bottom: 1px dotted #dddddd; }
  .comment .comment_head {
    margin-bottom: 16px; }
  .comment .comment_author {
    font-weight: bold; }
  .comment .avatar {
    float: right;
    width: 48px;
    height: 48px;
    margin-left: 16px; }
  .comment .comment_date {
    display: block;
    font-size: 13px;
    line-height: 22px;
    color: #888888; }
    .comment .comment_date a {
      color: #888888; }
  .comment .comment_text > :last-child {
    margin-bottom: 0; }
  .comment .comment_footer {
    margin-top: 16px; }
    .comment .comment_footer a {
      font-size: 13px;
      line-height: 22px;
      color: #888888;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-right: 16px; }
  .comment .comment_footer a {
    font-size: 13px;
    line-height: 22px;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 16px; }

  .children .comment {
    list-style-type: none;
    padding: 0 0 0 26px;
    border-bottom: 0;
    border-left: 1px solid #dddddd;
    margin-top: 26px; }
  .children .bypostauthor {
    background-color: transparent;
    border-color: #dd0000; }

  .comment_head a:hover,
  .comment_footer a:hover,
  comment_nav a:hover {
    text-decoration: underline; }

.comment_nav {
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 26px;
  border-style: dotted;
  border-color: #dddddd; }
  .comment_nav a:hover {
    text-decoration: underline; }

.comment_nav_top {
  border-width: 1px 0 0 0; }

.comment_nav_bottom {
  border-width: 0 0 1px 0;
  margin: -52px 0 52px 0; }

.next_comments {
  float: right; }

.comment_moderated {
  font-weight: bold; }

/*
 * ---:[ inputs ]:---
 */
  input[type="text"],
  input[type="number"],
  input[type="url"],
  input[type="tel"],
  input[type="email"],
  input[type="password"] {
    font-family: inherit;
    font-size: inherit;
    line-height: 1em;
    font-weight: inherit;
    color: #111111;
    background-color: #eeeeee;
    padding: 6px;
    border: 1px solid #dddddd;
    box-sizing: border-box; }
    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="url"]:focus,
    input[type="tel"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
      background-color: white;
      border-color: #eeeeee; }

select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
  font-weight: inherit;
  color: #111111;
  background-color: #eeeeee;
  padding: 6px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  line-height: inherit; }
  select:focus,
  textarea:focus {
    background-color: white;
    border-color: #eeeeee; }

/*
 * ---:[ buttons ]:---
 */
button,
input[type="submit"] {
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border: 3px double #dddddd; }
  button:hover,
  input[type="submit"]:hover,
  button:active,
  input[type="submit"]:active {
    background-color: #eeeeee;
    transition: background-color 0.3s; }

/*
 * ---:[ comment form ]:---
 */
#commentform {
  padding: 0 26px;
  margin: 52px 0; }
  .comment #commentform {
    padding-right: 0;
    padding-left: 0;
    margin-top: 16px; }
  #commentform .comment_form_title {
    font-size: 20px;
    line-height: 32px;
    color: #111111;
    padding: 0 26px 16px 26px;
    border-bottom: 1px dotted #dddddd;
    margin-right: -26px;
    margin-left: -26px; }
  #commentform label {
    display: block; }
  #commentform p {
    margin-bottom: 16px; }
    #commentform p .required {
      color: #dd0000; }
  #commentform input[type="text"] {
    width: 50%; }
  #commentform textarea {
    width: 100%; }
  #commentform input[type="submit"] {
    font-size: 20px; }

#cancel-comment-reply-link {
  float: right;
  font-size: 13px;
  line-height: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #dd0000;
  margin-top: 6px; }
  #cancel-comment-reply-link:hover {
    text-decoration: underline; }

.login_alert {
  font-weight: bold;
  background-color: #eeeeee;
  border: 1px solid #dddddd; }

/*
 * ---:[ sidebar ]:---
 */
.sidebar {
  font-size: 13px;
  line-height: 19px; }
  .sidebar .widget_title,
  .sidebar .sidebar_heading,
  .sidebar .headline {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 12px; }
  .sidebar .widget_title,
  .sidebar .sidebar_heading {
    font-variant: small-caps;
    letter-spacing: 1px; }
  .sidebar p,
  .sidebar ul,
  .sidebar ol,
  .sidebar blockquote,
  .sidebar pre,
  .sidebar dl,
  .sidebar dd,
  .sidebar .left,
  .sidebar .alignleft,
  .sidebar .ad_left,
  .sidebar .right,
  .sidebar .alignright,
  .sidebar .ad,
  .sidebar .center,
  .sidebar .aligncenter,
  .sidebar .block,
  .sidebar .alignnone {
    margin-bottom: 19px; }
  .sidebar .left,
  .sidebar .alignleft,
  .sidebar .ad_left {
    margin-right: 19px; }
  .sidebar ul ul,
  .sidebar ul ol,
  .sidebar ol ul,
  .sidebar ol ol,
  .sidebar .right,
  .sidebar .alignright,
  .sidebar .ad,
  .sidebar .stack {
    margin-left: 19px; }
  .sidebar ul ul,
  .sidebar ul ol,
  .sidebar ol ul,
  .sidebar ol ol,
  .sidebar .wp-caption p,
  .sidebar .post_excerpt p {
    margin-bottom: 0; }
  .sidebar .text_box,
  .sidebar .thesis_email_form,
  .sidebar .query_box {
    margin-bottom: 38px; }
    .sidebar .search-form input[type="text"],
    .sidebar .thesis_email_form input[type="text"] {
      width: 100%;
      margin-bottom: 12px; }
  .sidebar button,
  .sidebar input[type="submit"] {
    padding: 7px; }
  .sidebar .query_box .post_author,
  .sidebar .query_box .post_date {
    color: #888888; }
  .sidebar .widget {
    margin-bottom: 38px; }
    .sidebar .widget ul {
      list-style-type: none; }
      .sidebar .widget ul li {
        margin-bottom: 12px; }
        .sidebar .widget ul li ul,
        .sidebar .widget ul li ol {
          margin-top: 12px; }
        .sidebar .widget ul li a:hover {
          text-decoration: underline; }

/*
 * ---:[ footer ]:---
 */
.footer {
  font-size: 13px;
  line-height: 22px;
  color: #888888;
  text-align: right;
  padding: 16px 26px;
  border-top: 3px double #dddddd; }
  .footer a {
    color: #888888; }
    .footer a:hover {
      color: #111111; }

/*
 * ---:[ custom template styles ]:---
 */
  body.landing {
    padding-top: 0; }
  .landing .container {
    width: 617px; }
  .landing .header,
  .landing .headline_area,
  .landing .footer {
    text-align: center; }

.full_page .columns > .content {
  width: 897px;
  float: none;
  border-right: 0; }

  /*
   * ---:[ woocommerce compatibility ]:---
   */    .woocommerce.woocommerce-shop .content {
      padding: 26px; }
      .woocommerce.woocommerce-archive .content {
        padding: 0 26px; }
      .woocommerce.woocommerce-archive .post_box {
        margin-top: 0;
        margin-right: -26px;
        margin-left: -26px;
        margin-bottom: 26px; }
      .woocommerce.woocommerce-archive .term-description {
        margin-bottom: 26px; }
    .woocommerce .content > .product {
      margin: 26px 26px 0 26px; }
    .woocommerce .page-title {
      font-size: 33px;
      line-height: 49px;
      padding: 0 26px 26px;
      border-bottom: 1px solid #dddddd;
      margin-right: -26px;
      margin-left: -26px;
      margin-bottom: 26px; }
    .woocommerce .product_title {
      font-size: 33px;
      line-height: 49px;
      margin-bottom: 16px; }
    .woocommerce .content .woocommerce-result-count {
      font-size: 13px;
      line-height: 22px;
      color: #888888;
      margin-bottom: 16px; }
    .woocommerce nav.woocommerce-pagination ul.page-numbers {
      margin: -6px 0 16px 0; }
      .woocommerce ul.products li.product.grt .woocommerce-loop-product__title {
        line-height: 26px;
        padding: 0;
        margin-bottom: 10px; }
      .woocommerce ul.products li.product.grt .star-rating {
        font-size: 13px;
        margin-bottom: 10px; }
      .woocommerce ul.products li.product.grt .price {
        font-size: 16px;
        margin-bottom: 0; }
      .woocommerce ul.products li.product.grt .button {
        margin-top: 16px; }
      .woocommerce div.product.grt .woocommerce-product-rating {
        margin-bottom: 16px; }
      .woocommerce div.product.grt form.cart {
        margin-bottom: 26px; }
        .woocommerce div.product.grt form.cart .button {
          background-color: #dd0000;
          margin-top: -4px; }
      .woocommerce div.product.grt .product_meta {
        font-size: 13px;
        line-height: 22px;
        color: #888888; }
        .woocommerce div.product.grt .product_meta a:hover {
          text-decoration: underline; }
        .woocommerce div.product.grt #reviews h2 {
          margin-top: 0; }
        .woocommerce div.product.grt #reviews #comments {
          margin-top: 26px; }
        .woocommerce div.product.grt #reviews .comment-reply-title {
          font-size: 20px;
          line-height: 32px;
          font-weight: bold; }
        .woocommerce div.product.grt #reviews #commentform {
          padding: 0;
          margin-top: 26px; }
        .woocommerce div.product.grt #reviews #comment {
          height: auto; }
    .woocommerce .panel > h2:first-child {
      margin-top: 0; }
      .woocommerce .grt .button,
      .woocommerce .grt #respond input#submit {
        font-family: inherit;
        font-size: inherit;
        line-height: 1em;
        font-weight: bold;
        background-color: white;
        padding: 10px;
        border: 3px double #dddddd; }
  .woocommerce .grt .button:hover,
  .woocommerce .grt #respond input#submit:hover,
  .woocommerce .grt .button:active,
  .woocommerce .grt #respond input#submit:active {
    background-color: #eeeeee;
    transition: background-color 0.3s; }
      .grt .woocommerce fieldset {
        margin-top: 26px;
        margin-bottom: 10px; }
      .grt .woocommerce .button {
        font-family: inherit;
        font-size: inherit;
        line-height: 1em;
        font-weight: bold;
        background-color: white;
        padding: 10px;
        border: 3px double #dddddd; }
  .grt .woocommerce .button:hover,
  .grt .woocommerce .button:active {
    background-color: #eeeeee;
    transition: background-color 0.3s; }
        .grt .woocommerce .button.alt {
          font-size: 20px;
          background-color: #dd0000;
          padding: 26px; }
      .woocommerce .woocommerce-info .button,
      .woocommerce .woocommerce-message .button {
        margin-left: 10px; }
      .woocommerce-cart .woocommerce #coupon_code {
        padding: 10px;
        margin-right: 10px; }
    .woocommerce.woocommerce-page a.button {
      font-family: inherit;
      font-size: inherit;
      line-height: 1em;
      font-weight: bold;
      background-color: white;
      padding: 10px;
      border: 3px double #dddddd; }
  .woocommerce.woocommerce-page a.button:hover,
  .woocommerce.woocommerce-page a.button:active {
    background-color: #eeeeee;
    transition: background-color 0.3s; }

/*
 * ---:[ clearfix ]:---
 */
  .columns:after,
  .menu:after,
  .post_box:after,
  .post_content:after,
  .author_description:after,
  .sidebar:after,
  .query_box:after,
  .prev_next:after,
  .comment_text:after,
  .comment_nav:after {
    display: table;
    clear: both;
    content: ''; }

/*
 * ---:[ media queries ]:---
 */
@media all and (max-width: 896px) {
  body {
    padding-top: 0; }

  .container,
  .landing .container {
    width: auto;
    max-width: 617px; }

  .header {
    border-top: 1px solid #dddddd; }
    .landing .header {
      border-top: 0; }

    .columns > .content {
      float: none;
      width: 100%;
      border: 0; }
      .full_page .columns > .content {
        width: 100%; }
    .columns > .sidebar {
      float: none;
      width: 100%;
      border-top: 3px double #dddddd; }

  .menu_control {
    display: block;
    width: 100%;
    background-color: white;
    padding: 1em 26px;
    border-width: 0;
    cursor: pointer;
    box-sizing: border-box; }

  .menu {
    display: none;
    clear: both;
    width: 100%;
    border-width: 1px 0 0 0; }
    .menu .sub-menu {
      position: static;
      display: block;
      padding-left: 26px;
      border-top: 1px solid #dddddd;
      margin: 0; }
      .menu .sub-menu li {
        width: 100%; }
    .menu li {
      float: none;
      width: 100%;
      margin-bottom: 0; }
      .menu li:first-child > a:first-child {
        border-top-width: 0; }
    .menu a {
      background-color: white;
      padding: 1em 26px;
      border-width: 1px 1px 0 0; }
    .menu .current-menu-item > a {
      background-color: #eeeeee; }
    .menu > li > a {
      border-left-width: 1px; }

  .show_menu {
    display: block; }

      .sidebar .search-form input[type="text"],
      .sidebar .thesis_email_form input[type="text"] {
        width: 50%; } }

@media all and (max-width: 616px) {
  .menu a {
      border-right-width: 0; }
    .menu > li > a {
      border-left-width: 0; } }

@media all and (max-width: 469px) {
  .menu a,
  .menu_control {
    padding: 1em 16px; }

  .header,
  .columns > .sidebar,
  .post_box,
  .prev_next,
  .comments_intro,
  .comment,
  .comment_nav,
  #commentform,
  #commentform .comment_form_title,
  .footer {
    padding-right: 16px;
    padding-left: 16px; }

  .menu .sub-menu,
  .children .comment {
    padding-left: 16px; }

  .right,
  .alignright,
  img[align="right"],
  .left,
  .alignleft,
  img[align="left"],
  .ad,
  .ad_left {
    float: none; }

    .grt .right,
    .grt .alignright,
    .grt .left,
    .grt .alignleft {
      margin-right: 0;
      margin-left: 0; }
      .grt blockquote.right,
      .grt blockquote.left {
        width: 100%;
        margin-bottom: 26px; }

  .post_author:after {
    display: block;
    height: 0;
    content: '\a';
    white-space: pre; }

    #commentform input[type="text"],
    .sidebar .search-form input[type="text"],
    .sidebar .thesis_email_form input[type="text"] {
      width: 100%; }

  .comments_closed,
  .login_alert {
    margin-right: 16px;
    margin-left: 16px; }

  #commentform .comment_form_title {
    margin-left: -16px;
    margin-right: -16px; }

  .comment_date {
    display: none; } }