/*
Copyright 2012 DIYthemes, LLC. Patent pending. All rights reserved.
License: DIYthemes Software License Agreement
License URI: http://diythemes.com/thesis/rtfm/software-license-agreement/
*/
#t_canvas h3 { margin-bottom: 24px; }
#t_canvas a, #t_canvas a:hover { text-decoration: underline; }
#t_canvas #object_upload { font-size: 16px; font-weight: normal; margin-left: 10px; }
#t_canvas .object_primer, #t_canvas .object_alert { margin-bottom: 24px; }
#t_canvas .object_alert { padding: 12px; background-color: #ff9; border: 1px solid rgba(0,0,0,0.1); }
#t_canvas .object_list { border-bottom: 1px solid #cecece }
#t_canvas .object { position: relative; padding: 9px 130px 0 40px; background-color: rgba(0,0,0,0.05); border-top: 1px solid #cecece; }
#t_canvas .active_object { background-color: #fff; }
#t_canvas .object label { display: block; font: bold 18px/1.611em -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif; margin-bottom: 8px; }
#t_canvas .object label .object_by { font: normal 13px/2.231em Georgia, "Times New Roman", Times, serif; font-style: italic; color: #888; }
#t_canvas .object label .object_version, #t_canvas .object label .object_author { font-size: 14px; line-height: 2.071em; font-weight: normal; }
#t_canvas .object label [data-style~="update"] { font-size: 16px; text-decoration: none; margin-left: 8px; }
#t_canvas .object_version a { text-decoration: none; }
#t_canvas .object p { margin-bottom: 12px; }
#t_canvas .object [data-style~="button"] { margin-right: 16px; }
#t_canvas .object .select_object { position: absolute; top: 14px; left: 12px; }
#t_canvas .object .delete_object { position: absolute; right: 12px; bottom: 12px; }
#t_canvas .object:after { display: table; clear: both; content: ''; }